/* ---------- UPBAR ---------- */

.upbar {
	height: 40px;
	padding: 16px 30px;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: auto;
}

.upbar img {
	width: 40px;
}
.upbar span {
	margin-top: 12px;
	margin-right: 12px;
}
.header {
	width: 100%;
}

.header img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.header h1 {
	margin-top: -96px;
	margin-left: 120px;
	margin-bottom: 22px;
	color: white;
}

/* ---------- SIDEBAR ---------- */

.sidebar {
	min-width: 180px;
	background: #ededed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar .name,
.sidebar .points {
	font-size: 18px;
}

.sidebar .points {
	display: flex;
	align-items: center;
	margin-top: 20px;
	padding-top: 20px;
	height: 30px;
	border-top: 1px solid #d9d9d9;
}

.sidebar .points img {
	margin-right: 5px;
	width: 28px;
}

.sidebar button {
	width: 80px;
	height: 30px;
	margin-top: 5px;
	margin-left: 15px;
	padding: 6px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 21px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #ffffff;
	background-color: #0ad4fa;
}
