.nav-brand {
	height: 40px;
	padding: 16px 30px;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: auto;

    img {
        width: 40px;
    }

    span {
        margin-top: 12px;
        margin-right: 12px;
    }
}

.header-brand {
	width: 100%;

    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }

    h1 {
        margin: -15% 0 5% 10% ;
        color: white;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {

    .nav-brand {
        padding: 16px 10%;
    }

    .header-brand {
        h1 {
            font-size: 2.5rem;
            margin: -7% 0 3% 10%;
        }
    }
}
