/* ---------- MODAL ---------- */

.modal-hidden {
	visibility: hidden;
}

.modal-open {
	overflow: hidden;
	position: fixed;
}

.modal-background {
	background: rgba(26, 24, 24, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	z-index: 9999999;
}

.modal-content {
	visibility: visible;
	height: 400px;
	width: 300px;
	background: #ffffff;
	box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	padding: 40px;
}

.containerlClose {
	display: flex;
	justify-content: flex-end;
}

.img-modal {
    width: 20px;
}

/* ---------- COIN SELECTOR ---------- */

.coin_big {
	width: 120px;
	margin-top: 30px;
}

.coinsSelector {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
}

.coinsSelector button {
	margin-top: 0;
	margin-left: 0;
	height: 60px;
	font-size: 40px;
}

.coinsSelector .number {
	width: 120px;
	height: 60px;
	box-sizing: border-box;
	border: 2px solid #0ad4fa;
	text-align: center;
	padding-top: 14px;
}