h3 {
    font-size: 15px;
    text-align: left;
    margin: 20px 20px 20px 20px;
}

.container-view {
	width: 100%;
    padding: 4% 4%;
    display: flex;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 5px 7px #c4c4c4;
}

.viewItem {
	font-size: 12px;
    border: 1px solid #c4c4c4;
    display: flex;
    padding: 7px;
    flex-direction: column;
    margin-right: 5px;
    border-radius: 10px;
}
.viewImg {
	width: 40px;
	border-radius: 20px;
}
.viewCredit {
	width: 10px;
}

@media only screen and (min-width: 1200px) {

    .container-view {
        padding: 1% 10%;
    }
}