
.container-footer {
    background-color: #181616;
    color:#fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 4%;
}

.sub-footer {
    background-color: #000000;
    color:#fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 1.5%;
}

@media only screen and (min-width: 1200px) {
    
.container-footer {
    padding: 2%;
}

.sub-footer {
    background-color: #000000;
    color:#fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 1%;
}
}