/* ---------- GENERAL ---------- */

* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
span {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 48px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 0;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.success {
	background: rgb(143, 244, 208);
	background: linear-gradient(
		163deg,
		rgba(143, 244, 208, 1) 33%,
		rgba(103, 242, 102, 1) 60%,
		rgba(143, 254, 209, 1) 100%
	);
}

.cancel {
	background: rgb(242, 49, 118);
	background: linear-gradient(
		163deg,
		rgba(242, 49, 118, 1) 33%,
		rgba(180, 21, 92, 1) 54%,
		rgba(249, 0, 9, 1) 100%
	);
}

button.success {
	width: 180px;
	height: 40px;
	font-size: 16px;
	color: cadetblue;
}

button.close {
	width: 180px;
	height: 40px;
	font-size: 16px;
	color: cadetblue;
}

button.cancel {
	background: none;
	color: rgb(242, 49, 118);
	text-decoration: underline;
}

button.disabled {
	background: #d9d9d9;
}
button.left {
	border-radius: 21px 0 0 21px;
}

button.right {
	border-radius: 0 21px 21px 0;
}

/* ---------- UPBAR ---------- */

.upbar {
	height: 40px;
	padding: 16px 30px;
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	margin-bottom: auto;
}

.upbar img {
	width: 40px;
}
.upbar span {
	margin-top: 12px;
	margin-right: 12px;
}
.header {
	width: 100%;
}

.header img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.header h1 {
	margin-top: -96px;
	margin-left: 120px;
	margin-bottom: 32px;
	color: white;
}

/* ---------- FILTERS ---------- */

.filters {
	margin: 0 20px;
	padding: 5px;
	padding-top: 10px;
	height: 50px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #d9d9d9;
}

.filters span {
	border-left: 1px solid #d9d9d9;
	padding: 15px 15px;
	margin-left: 10px;
}

.filters button {
	width: 120px;
	height: 40px;
	margin-top: 5px;
	margin-left: 15px;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 21px;
	outline: none;
	border: none;
	cursor: pointer;
	background: #ededed;
	color: #a3a3a3;
}

.filters button.active {
	color: #ffffff;
	background-color: #0ad4fa;
}

.filters p {
	padding: 15px 10px;
}

/* ---------- PAGINATION ---------- */

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
}

.pagination button {
	margin-top: 0px;
	margin-left: 15px;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: #0ad4fa;
	color: #ffffff;
}

.pagination img {
	margin-top: 4px;
	width: 12px;
	height: 12px;
}

.pagination p {
	text-align: center;
	margin-left: 16px;
	padding: 15px 10px;
}

/* ---------- PRODUCTLIST ---------- */

.productlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	width: calc(100%-20px);
}

.productListItem {
	width: 240px;
	height: 240px;
	margin: 15px;
	text-align: left;
	background: #ffffff;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.productListItem .cover {
	position: relative;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 240px;
	box-sizing: border-box;
	z-index: 6666;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(-180deg, #0ad4fa 0%, #25bbf1 100%);
	opacity: 0.8;
	box-shadow: 3px 2px 15px 6px rgba(140, 140, 140, 0.5);
	visibility: hidden;
}

.productListItem .cover img {
	width: 40px;
	height: 40px;
	vertical-align: text-bottom;
}

.productListItem .cover span {
	font-size: 50px;
	color: white;
}
.productListItem .cover button {
	width: 180px;
	height: 42px;
	margin-top: 5px;
	padding: 5px;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 21px;
	outline: none;
	border: none;
	cursor: pointer;
}

.productListItem:hover .cover {
	visibility: visible;
}

.productListItem .back {
	position: relative;
	top: -240px;
	left: 0px;

	padding: 20px;
	box-sizing: border-box;
}

.productListItem .badge {
	position: relative;
	z-index: 5555;
	box-sizing: border-box;
	background-color: #0ad4fa;
	opacity: 0.8;
	box-shadow: 1px 1px 6px 2px #c6dfe4;
}

.productListItem .badge.round {
	top: -460px;
	left: 186px;
	width: 40px;
	height: 40px;
	padding: 0px;
	border-radius: 20px;
}

.productListItem .badge.rectangle {
	top: -470px;
	left: 116px;
	height: 30px;
	width: 114px;
	padding: 8px 10px;
	border-radius: 20px;
	background: #616161;
	color: white;
	display: flex;
	justify-content: center;
}

.productListItem .badge.rectangle span {
	display: inline;
	font-size: 12px;
}

.productListItem .badge.rectangle img {
	display: inline;
	margin-top: -1px;
	height: 18px;
	width: 18px;
	margin-left: 2px;
}

.productListItem img {
	width: 100%;
}

.productListItem hr {
	border-top: 1px solid #d9d9d9;
}

.productListItem p {
	margin-top: 10px;
	font-size: 16px;
	color: #a3a3a3;
	letter-spacing: -0.04px;
}

.productListItem h4 {
	font-size: 18px;
	color: #616161;
	letter-spacing: -0.04px;
}

/* ---------- SIDEBAR ---------- */

.sidebar {
	min-width: 180px;
	background: #ededed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar .name,
.sidebar .points {
	font-size: 18px;
}

.sidebar .points {
	display: flex;
	align-items: center;
	margin-top: 20px;
	padding-top: 20px;
	height: 30px;
	border-top: 1px solid #d9d9d9;
}

.sidebar .points img {
	margin-right: 5px;
	width: 28px;
}

.sidebar button {
	width: 80px;
	height: 30px;
	margin-top: 5px;
	margin-left: 15px;
	padding: 6px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 21px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #ffffff;
	background-color: #0ad4fa;
}

/* ---------- HISTORY ---------- */

.history {
	width: 80%;
	margin-top: 30px;
	padding: 10% 0;
	text-align: center;
	border-top: 1px solid #d9d9d9;
}

.historyItem {
	margin-top: 12px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 12px;
}
.historyProductImg {
	width: 40px;
	border-radius: 20px;
}
.historyCoin {
	width: 10px;
}

/* ---------- FOOTER ---------- */

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 1px solid red;
}

/* ---------- MODAL ---------- */

.modal-hidden {
	visibility: hidden;
}

.modal-open {
	overflow: hidden;
	position: fixed;
}

.modal-background {
	background: rgba(26, 24, 24, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	z-index: 9999999;
}

.modal-content {
	visibility: visible;
	height: 400px;
	width: 300px;
	background: #ffffff;
	box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	padding: 40px;
}

.modalClose {
	display: flex;
	justify-content: flex-end;
	margin-top: -15px;
	margin-right: -15px;
	margin-bottom: 25px;
}
.modalClose button {
	background: #ff605c;
	box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.8);
	outline: none;
	border: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

/* ---------- CONFIRM SWAP ---------- */

.confirmSwap {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.confirmSwap h4 {
	font-size: 18px;
}

.confirmSwap span {
	margin-top: 2px;
	margin-bottom: 8px;
	font-size: 16px;
}

.confirmSwap span img {
	width: 14px;
}

.confirmSwap .messageImg {
	margin-bottom: 50px;
	width: 80%;
}

.confirmSwap .message {
	font-size: 24px;
	text-align: center;
}

.confirmSwap button {
	margin-top: 20px;
	margin-left: 0;
	padding: 6px;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 21px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #ffffff;
}

/* ---------- COIN SELECTOR ---------- */

.coin_big {
	width: 120px;
	margin-top: 30px;
}

.coinsSelector {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
}

.coinsSelector button {
	margin-top: 0;
	margin-left: 0;
	height: 60px;
	font-size: 40px;
}

.coinsSelector .number {
	width: 120px;
	height: 60px;
	box-sizing: border-box;
	border: 2px solid #0ad4fa;
	text-align: center;
	padding-top: 14px;
}

.coinsSelector .number span {
	font-size: 24px;
	margin-right: 5px;
}

.coinsSelector img {
	width: 18px;
}
