* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
span {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 48px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.main {
	display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr)) !important;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.success {
	background: rgb(143, 244, 208);
	background: linear-gradient(
		163deg,
		rgba(143, 244, 208, 1) 33%,
		rgba(103, 242, 102, 1) 60%,
		rgba(143, 254, 209, 1) 100%
	);
}

.cancel {
	background: rgb(242, 49, 118);
	background: linear-gradient(
		163deg,
		rgba(242, 49, 118, 1) 33%,
		rgba(180, 21, 92, 1) 54%,
		rgba(249, 0, 9, 1) 100%
	);
}

button.success {
	width: 180px;
	height: 40px;
	font-size: 16px;
	color: cadetblue;
}

button.close {
	width: 180px;
	height: 40px;
	font-size: 16px;
	color: cadetblue;
}

button.cancel {
	background: none;
	color: rgb(242, 49, 118);
	text-decoration: underline;
}

button.disabled {
	background: #d9d9d9;
}
button.left {
	border-radius: 21px 0 0 21px;
}

button.right {
	border-radius: 0 21px 21px 0;
}
